.sideStatus.true {
	width: 200vw;
	height: 200vh;
	border-radius: 50%;
	box-shadow: 0px 0px 150px -20px black;
	background-color: #b80000;
	z-index: 999;
	position: fixed;
	left: -100vw;
	top: -100vh;
	transition-duration: 0.6s;
}

.sidenavBlockCont.true {
	background-color: rgba(0, 0, 0, 0.425);
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 998;
	transition-duration: 1s;
}