.inicio {
  width: 100%;
  position: absolute;
top: 50px;
}

.inicio img {
position: absolute;
width: 100%;
}

.inicio h1 {
position: relative;
margin: 50px;
text-align: center;
font-family: 'Raleway', sans-serif;
font-weight: lighter;
color: #494949;
font-size: 4em;
}

.inicio div {
display: inline-block;
position: relative;
width: 100%;
height: auto;
background-color: #6d6d6d;
transition-duration: 1s;
}

.inicio div:hover {
background-color: #b80000;
}

.inicio div img {
width: 60%;
}

.inicio div p {
position: relative;
margin: 50px;
float: right;
font-family: 'Raleway', sans-serif;
font-weight: lighter;
color: white;
font-size: 4em;
}