<div>
    <div class="inicio">
        <h1>AGENDA DE SERVICIOS</h1>
        <div>
            <img src="../../../assets/img/background2.jpg">
            <p>Reparación</p>
        </div>
        <div>
            <img src="../../../assets/img/background3.jpg">
            <p>Diagnóstico</p>
        </div>
        <div>
            <img src="../../../assets/img/background4.jpeg">
            <p>Mantenimiento</p>
        </div>
    </div>
</div>