<nav class="mat-elevation-z6">
  <div align="center">
    <ul class="navList">
      <li><a><span><mat-icon class="example-icon">account_circle</mat-icon></span></a></li>
      <li [routerLink]="[('fecha')]"><a>Inicio</a></li>
    </ul>
    <ul class="navList2">
      <li><a>Acerca</a></li>
      <li><a>Contacto</a></li>
    </ul>
    <img class="hLogo" src="../../../assets/img/honda-logo.png">
    <img class="hTitle" src="../../../assets/img/honda-title.png">
    <p class="navTitle">Agenda de Servicios</p>
  </div>
</nav>