nav {
	width: 100%;
	height: 50px;
	background-color: white;
	top: 0px;
	position: fixed;
	z-index: 1;
}

.hLogo {
	width: 50px;
	position: relative;
	top: 5px;
	left: 30px;
}

.hTitle {
	width: 130px;
	position: relative;
	top: -10px;
	left: 30px;
}

.navTitle {
	position: relative;
	top: -28px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	left: 23px;
}

.navList, .navList2 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.navList li, .navList2 li {
	float: left;
	height: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.navList li:hover, .navList2 li:hover {
	background-color: rgba(0, 0, 0, 0.192);
}

.navList li a, .navList2 li a {
	position: relative;
	top: 12px;
	text-align: center;
	text-decoration: none;
	font-family: 'Poppins', cursive;
	padding: 0px 20px 0px 20px;
	color: #b80000;
}

.navList2 li {
	float: right;
}