.principal{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.sub{
   float: left;
   height: 300px;
   width: 300px;
}

.separador {
    height: 7vh;
  }

  .separador1 {
    width: 3vh;
  }

  button{
      align-content: center;
  }