<div class="separador"></div>

<div class="principal">
  <div class="separador1" ></div>
  <div class="sub">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" ></div>
        <mat-card-title>Juan Carlos</mat-card-title>
        <mat-card-subtitle>Tecnico Automotriz</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-actions>
        <button mat-button >asignar</button>

      </mat-card-actions>
    </mat-card>
</div>
<div class="separador1" ></div>
<div class="principal">
  <div class="separador1" ></div>
  <div class="sub">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Juan Carlos</mat-card-title>
        <mat-card-subtitle>Tecnico Automotriz</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-actions>
        <button mat-button>asignar</button>

      </mat-card-actions>
    </mat-card>
</div>
<div class="separador1" ></div>
<div class="principal">
  <div class="separador1" ></div>
  <div class="sub">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Juan Carlos</mat-card-title>
        <mat-card-subtitle>Tecnico Automotriz</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-actions>
        <button mat-button>asignar</button>

      </mat-card-actions>
    </mat-card>
</div>
<div class="separador1" ></div>
<div class="principal">
  <div class="separador1" ></div>
  <div class="sub">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Juan Carlos</mat-card-title>
        <mat-card-subtitle>Tecnico Automotriz</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-actions>
        <button mat-button>asignar</button>

      </mat-card-actions>
    </mat-card>
</div>
<div class="separador1" ></div>
<div class="principal">
  <div class="separador1" ></div>
  <div class="sub">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Juan Carlos</mat-card-title>
        <mat-card-subtitle>Tecnico Automotriz</mat-card-subtitle>
      </mat-card-header>
     
      <mat-card-actions>
        <button mat-button>asignar</button>

      </mat-card-actions>
    </mat-card>
</div>
<div class="separador1" ></div>


</div>

