<div class="principal">
<angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
<div class="sub">
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
      </mat-form-field>
</div>

</div>

