.principal {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 700px;
    height: 700px;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;  
}
.sub{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 1500px;
    height: 800px;
}