<div class="separador"></div>
<div class="divPrincipal">
    <div class="cabecera">
            <img src="../../assets/Honda-logo.png" width="125px" height="auto"><img>
            <h3 class="estiloLetra">Inicio de Sesion</h3>
    </div>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

    </div>

    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

    </div>

    <div class="cabecera" >
        <button mat-raised-button color="warn">Entrar</button>
        <button routerLinkActive="active" [routerLink]="['/registrar']"   mat-raised-button color="primary">Registrarse</button>
   

    </div>
</div>
