.separador {
    height: 25vh;
  } 
  
.divPrincipal {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 900px;
    height: 900px;
    margin-left: -200px;
    margin-top: -200px;
    text-align: center;
    
}
.estiloLetra {
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 3em;
  }
  .divPrincipal {
    text-align: center;
  }
  
  .divPrincipal > img {
    margin: 0 auto;
  }
  .separador {
    height: 3vh;
  }

button {
    height: 4em;
    width: 5em;    
    font-family: 'Arvo', serif;
}
.imagen{
    width:250px;
    height: 250px;
}