<div class="separador"></div>
<div class="divPrincipal">

   <form>
        <input  type=image src="../../assets/reloj.png" class="imagen">
        <div class="separador"></div>
        <mat-form-field class="example-full-width" min-date="minDate" format="HH:mm">
          <input matInput time="true" type="time" placeholder="Hora Cita"  value="Sushi">
        </mat-form-field>

    </form>
</div> 