.centros {
	padding: 5em 1em 1em 1em;
}

.centros > p {
	position: relative;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
	color: #3a3a3a;
	padding-bottom: .3em;
}

.centros > div {
	background-color: #f0f0f0;
	padding: 0px;
	border: .5em solid white;
	height: 305px;
	border-radius: 5%;
}

.centros > div:hover {
	background-color: #cccccc;
}

.centros > div > div {
	padding: .5em 1em;
	height: 80px;
}

.centros > div > div > h1 {
	position: absolute;
	font-family: 'Quicksand', sans-serif;
	font-size: calc(0.9em + 0.45vw);
	color: #353535;
	font-weight: bolder;
}

.centros > div > div > p {
	padding-top: .8em;
	position: relative;
	font-family: 'Quicksand', sans-serif;
	font-size: calc(0.7em + 0.2vw);
	color: #4e4e4e;
	font-weight: bold;
}

.active {
	background-color: #b80000;
	border-top-left-radius: 7%;
	border-top-right-radius: 7%;
}

.active h1 {
	color: white !important;
}

.active p {
	color: #d4d4d4 !important;
}

.imgCentro {
	position: relative;
	left: 0em;
	width: 1000px;
	max-width: 100%;
	height: 210px;
}

.button {
	border-radius: 25px;
	border: 0.5px solid #b80000;
	background-color: transparent;
	color: #b80000;
	font-family: 'Quicksand', sans-serif;
	width: 4em;
	height: 2em;
}
