<div class="centros container">
  <p>Seleccione una ubicación</p>
  <div *ngFor="let centro of centros" class="grid-m-12 grid-t-6 grid-tl-6 grid-d-4" (click)="seleccionar(centro)">
    <div [attr.id]="centro.centro">
      <h1>{{centro.centro}}</h1>
      <br>
      <p>{{centro.ubicacion}}</p>
    </div>
    <img class="imgCentro" src="../../../assets/img/centros/{{centro.centro}}.jpg" alt="{{centro.centro}}.jpg">
  </div>
  <button class="button" >Primary</button>
</div>
