/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/style/fullcalendar.min.css";

body {
	margin: 0px;
	padding: 0px;
}

@media only screen and (max-width: 720px) {
	.centros > p {
		font-size: 3em;
	}

	.navList, .navList2 {
		display: none;
	}

	.hLogo, .hTitle {
		left: 0px;
	}

	.navTitle {
		left: 28px;
	}

	.inicio > h1 {
		font-size: 2em;
	}
}
