.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
  width: 100%;
  }

.example-container {
  padding: 0 4em;
}

  .divPrincipal {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 800px;
    height: 800px;
    margin-left: -150px;
    margin-top: -200px;
    
}
.estiloLetra {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.cabecera {
  text-align: center;
}

.cabecera > img {
  margin: 0 auto;
}

.separador {
  height: 25vh;
}